@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0!important;
    padding: 0!important;
    box-sizing: border-box;
    color: #0C6170;
} 

body{
    background-color:#A4E5E0!important;
    font-size: 100%!important;
}

.body-full{
    height: 100vh;
}

.body-full > .container-fluid{
    padding: 0rem 4rem!important;
}

.body-full .row{
    background-color: #DBF5F0;
}

.body-full .row #isi{
    padding: 4rem!important;
}

span small{
    position: absolute;
    bottom: 0.1rem;
    text-align: center;
    width: 100%;
    color: red;
    visibility: hidden;
}

#isi #isi-form, #isi .isi-text, .limit{
    position: relative;
}

#isi #isi-form i{
    position: absolute;
    top: 2.5rem;
    right: 1.1rem;
}

.form-control{
    background-color: #DBF5F0!important;
    border: 0.1rem solid #0C6170!important;
    padding: 0.4rem 0.75rem!important;
    color: #0C6170!important;
}

.form-control:focus{
    background-color: #DBF5F0;
    border: 0.1rem solid #0C6170!important;
    box-shadow: none!important;
}

.form-control.wrong{
    border: 0.1rem solid red!important;
}

.fa-solid.fa-id-card.wrong, .fa-solid.fa-user-doctor.wrong{
    color: red!important;
}

::placeholder{
    color: rgba(12, 97, 112, 0.5)!important;
}

.btn-primary.next{
    padding: 0.4rem 0rem!important;
    background-color: #0C6170!important;
    border: 0.1rem solid #0C6170!important;
}

.btn-primary.next:hover, .btn-primary.back:hover{
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.25);
}

.btn-primary.back{
    padding: 0.4rem 0rem!important;
    background-color: #DBF5F0!important;
    border: 0.1rem solid #0C6170!important;
    color: #0C6170!important;
}

.overflow-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(12, 97, 112, 0.3);
}

input[type="text"], input[type="submit"]{
    font-size: 100%;
}

@media only screen and (min-width: 992px){
    .body-full .row{
        height: 85vh;
    }
}

@media only screen and (max-width: 768px){
    body{
        font-size: 85%!important;
    }

    #isi #isi-form i{
        top: 2.2rem;
    }
}

@media only screen and (max-width: 576px){
    body{
        font-size: 75%!important;
    }

    .body-full > .container-fluid{
        padding: 0rem 3rem!important;
    }

    .body-full .row #isi{
        padding: 2.5rem 0rem 0rem 0rem!important;
    }

    .body-full .row{
        background-color: #A4E5E0;
    }

    #isi #isi-form i{
        top: 2rem;
    }

    .form-control{
        background-color: #A4E5E0!important;
    }

    .btn-primary.back{
        background-color: #A4E5E0!important;
    }
    
    span small{
        bottom: 0.2rem;
    }
}